.q-button{
    height: 36px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 80px;
    cursor: pointer;
    color: #fff;
    
}

.q-button-primary{
    background-color: rgb(90, 90, 230);
}

.q-button-primary:hover{
    background-color: rgb(13, 13, 255);
}

.q-button-primary:focus{
    background-color: rgb(90, 90, 230);
}

.q-button-danger{
    background-color: #e0484a;
}

.q-button-danger:hover{
    background-color:  #ff0b0f;
}

.q-button-danger:focus{
    background-color:  #961214;
}